*{
  margin:0;
}
.app{
  background-color: #FAFAFA;
  
  height: 100vh;
  
}
.app__header{
  
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  
}
.app__headerImage{
  object-fit: contain;
  width: 140px;
  
}
.post{
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__image{
  width:100%;
  object-fit: contain;
  border-top:1px solid lightgray;
  border-bottom:1px solid lightgray;
}
.post__text{
  font-weight: normal;
  padding: 20px;
}

.post__header{
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar{
  margin-right: 10px;
}
.post__commentbox{
  display: flex;
  margin-top: 10px;
}
.post__input{
  flex: 1;
}
.post__button{
  flex: 0;
}
.container{
  padding: 32px 8px;
}